<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>{{pageTitle}}</h1>
  <p>Aquí iría el formulario de contacto</p>
  {{>footer}}
  <!-- con la linea anterior
       tendríamos el footer mediante partials -->

</body>